
.contact{
	padding:5px;
}
.about{
	padding:60px;
}


@media(min-width:300px){
	.container{
	    width:100%;
    }
	.about-top i{
		font-size:25px;
		color:#0db70d;
		margin-bottom:-15px;
	}
	.about-top h4{
		font-size:20px;
		margin-bottom:15px;
	}
	.about-top p{
		font-size:16px;
	}
	.about-top{
		text-align:center;
	}
	.top-child{
		background:#ededed;
		padding:10px;
		margin:6px;
	}
	.about-down span{
		color:#0db70d;
		font-size:30px;
		font-weight:600;
	}
	.about-down{
		text-align:center;
		padding:15px;
	}
	.about-down p{
		padding:8px;
	}
}
@media(min-width:500px){
	.about-down{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
	}
	.down-child{
		width:50%;
	}
}
@media(min-width:700px){
	.about-down{
		display:flex;
	}
	.down-child{
		width:25%;
	}
}
@media(min-width:990px){
	.about-top{
		display:flex;
		text-align:left;
	}
	.about-down{
		padding:40px;
	}
	
}