body{
	
}
.services{
	margin-top:80px;
	height:500px;
	background:#244668;
	color:white;
	padding:30px 0 0 0;
}
@media(min-width:300px){
	.ser-top h1{
		font-size:25px;
		text-align:center;
	}
	.ser-top p{
		font-size:18px;
		text-align:center;
	}
	.bottom-one{
		background-color:white;
		color:#244668 !important;
		text-align:center;
		margin:20px;
		padding:15px;
	}
	.bottom-one i{
		background:#e1e5e7;
		font-size:25px;
		padding:15px;
		border-radius:50%;
	}
	.ser-bottom{
		padding:10px;
	}
	
}
@media(min-width:700px){
	.ser-bottom{
		display: flex;
        justify-content: space-between;
         flex-wrap: wrap;
		 box-sizing:border-box;
	}
	.bottom-one{
		width:39%;
	}
	.ser-top p{
		padding:0 50px 0 50px;
	}
	
}
@media(min-width:990px){
	.ser-bottom{
		display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
	}
}